* {
    margin: 0;
    box-sizing: border-box;
    background-color: #005c48;
    font-family: 'Montserrat Subrayada', sans-serif;
  }

  
  header {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 4, 53);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    min-width: max-content;
  }

  h1{
    display: flex;
    color: white;
    background-color: rgb(58, 4, 53);;
    font-size: 4rem;
    justify-content: center;
    min-width: max-content;
  }
  
  footer {
   position:absolute;
    width: 100%;
    height: 23px; 
    font-size: large;
    text-align: center;
    color: white;
    font-weight: 0;
  }
  
  button {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: white;
  }
  
  button:hover {
    background-color:#ff9b9b;
  }
  
  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  figure {
    margin: 10px;
    background-color: white;
    border-radius: 40px;
  }
  
  figure img {
    width: 200px;
    border-radius: 40px;
    margin: 0.5rem;
  }
  
  figcaption {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    background-color: transparent;

  }